<section class="search-panel">
	<form
        class="search-form"
        (submit)="$event.preventDefault(); searchByFlightNumber(flightNumber.value)"
    >
		<div class="field-grid">
			<label class="field-label" for="flight-number-input">
				Flight number (IATA)
				<input
					#flightNumber
					id="flight-number-input"
					type="text"
					placeholder="Example: UA1488"
					autocomplete="off"
				/>
			</label>
			<button class="search-button" type="submit">Search</button>
		</div>
	</form>

	<app-results-list [searchResults]="searchResults()" [hasSearched]="hasSearched()" [isLoading]="isLoading()" [airlines]="airlines()" />
</section>
